---
title: About
heading: About Rogue Identity
subtitle: Your technology startup means the world to you, and you're looking for an OAuth/OIDC/IAM Integrations Consultant who will treat your project with the same care you would. I too have built my own SaaS startup and I know how challenging it can be to hire people who will give your project the same care and attention that you would yourself. Now I offer consulting services with a priority on getting your job done right, so you can continue to build your company without worry. <br><br>

                Whether you need a few hours to work through an idea or a few years of hands-on engineering effort, I and my highly-skilled team at Rogue Identity (www.rogueidentity.com) can make your ideas a reality. While I specialize in technology startups, I’ve helped big companies with enterprise-wide deployments, small companies with tricky technical details and implementations, and everything in between. Please reach out at topher@rogueidentity.com and tell me what struggles I could help you solve.
---
<!--
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		//<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
-->